DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

PORT=3000

JWT_SECRET=
AUTH_USUARIO=
AUTH_PASSWORD_HASH=
CORS_ORIGINS=https://copiadolibrospergamino.com.ar,http://localhost:5173

AFIP_MODO=testing
AFIP_CERT=
AFIP_CERT_TEST=
AFIP_KEY=
AFIP_KEY_TEST=
AFIP_CUIT=
